html {
    background: white;
    color: white;
    transition: background-color .6s;
}

body {
    background: black;
}

html, .solid {
    transition: background-color .6s;
}

    /* engaged meditation */
     /* background-image: radial-gradient(
        rgba(126, 126, 75, .68) 0,
        rgba(57, 52, 51, .83) 40%,
        transparent
      );; */

    /*  */

    /* press */
    /*  */

body:hover, body:focus
 {
    background-color: #1b1a1c;
    /* background: black; */
}

.init .images {
    opacity: 0;
}

.main-wrapper {
   background-image: conic-gradient( transparent 0deg, black 180deg, transparent 360deg);
}

/* Nav Hover */
.main-container.press .inner {
    background-color: rgba(11, 23, 55, .25);
}

/* Link Hovers */
.main-container.press.purple .inner {
    background-color: rgba(77, 1, 77, .12);
}

.main-container.press.blue .inner {
    background-color: rgba(11, 23, 55, .33);
}

.main-container.press.gold .inner {
    background-color: rgba(237, 188, 1, 0.08);
}

.main-container.press.red .inner {
    background-color: rgba(100, 30, 10, 0.18);
}

.main-container.press.black .inner {
    background-color: rgba(3, 1, 6, 0.13);
}

.main-container.engaged.purple {
    background-color: rgba(77, 1, 77, .33);
}

.main-container.engaged.blue {
    background-color: rgba(11, 23, 55, .44);
}

.main-container.engaged.gold {
    background-color: rgba(237, 188, 1, 0.12);
}

.main-container.engaged.red, .main-container.clicked.red {
    background-color: rgba(100, 30, 10, 0.26);
}

.main-container.engaged .inner {
    background-color: none;
}

.main {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.press .main {
    opacity: .75;
}

.engaged .main  {
    opacity: 1;
}

.main-nav, .sub-footer {
    opacity: 0;
    transition: opacity 2s;
}

body:hover .main-nav, body:focus .main-nav,
body:hover .sub-footer, body:focus .sub-footer {
    opacity: 1; 
}

.images {
    position: fixed;
    width: 100%;
    display:block;
    transition: opacity .8s ease-out;
    z-index: 100;
}

.press .images, .engaged .images {
    z-index: 0;
    opacity: 0; 
}

.images img {
    width: 100px; 
    margin: 0 auto;
    display: block;
    margin: calc(50vh - 150px) auto;
}

.meditation-page .images {
    opacity: 0;
}