html {
    background: white;
    color: white;
    transition: background-color .6s;
}

body {
    background: black;
}

html, .solid {
    transition: background-color .6s;
}

    /* engaged meditation */
     /* background-image: radial-gradient(
        rgba(126, 126, 75, .68) 0,
        rgba(57, 52, 51, .83) 40%,
        transparent
      );; */

    /*  */

    /* press */
    /*  */

body:hover, body:focus
 {
    background: #0A0B0C;
    /* background: black; */
}

.wrapper {
   background-image: conic-gradient( transparent 0deg, black 180deg, transparent 360deg);
}

/* Nav Hover */
.container.press .inner {
    background-color: rgba(11, 23, 55, .25);
}

/* Link Hovers */
.container.press.prayer .inner {
    background-color: rgba(77, 1, 77, .12);
}

.container.press.meditation .inner {
    background-color: rgba(11, 23, 55, .33);
}

.container.press.liturgy .inner {
    background-color: rgba(237, 188, 1, 0.08);
}

.container.press.contribute .inner {
    background-color: rgba(100, 30, 10, 0.18);
}

.container.press.about .inner {
    background-color: rgba(3, 1, 6, 0.13);
}

.container.engaged.prayer-page {
    background-color: rgba(77, 1, 77, .33);
}

.container.engaged.meditation-page {
    background-color: rgba(11, 23, 55, .44);
}

.container.engaged.liturgy-page {
    background-color: rgba(237, 188, 1, 0.12);
}

.container.engaged.contribute-page {
    background-color: rgba(100, 30, 10, 0.26);
}

.container.engaged .inner {
    background-color: none;
}

.main {
    opacity: 0;
    transition: opacity 1s;
}

.engaged .main  {
    opacity: 1;
}

.main-nav, .page-footer {
    opacity: 0;
    transition: opacity 2s;
}

body:hover .main-nav, body:focus .main-nav,
body:hover .page-footer, body:focus .page-footer {
    opacity: 1; 
}

.images {
    position: fixed;
    width: 100%;
    margin: calc(50vh - 150px) auto;
    display:block;
    transition: transform .4s, opacity .4s; 
}

.images img {
    width: 100px; 
    margin: 0 auto;
    display: block;
}

.meditation-page .images {
    opacity: 0;
}