
html, body {
    height: 100vh;
}

.inner {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 100px;
}

.app-header {
    cursor: pointer;
    height: 12rem;
    display: flex;
    justify-content: space-evenly;
}

.app-header h1 {
    line-height: 2rem;
    margin: 1rem;
}

.content {
    height: calc(100vh - 5rem);
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: 12rem 1fr;
}

.page-footer {
    margin: 0 1.5rem;
    height: 5rem;
}

.container-grid-simple {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-auto-rows: auto;
    padding: 3rem;
}

.container-grid-hero {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr 2fr 3fr 3fr 1fr; 
    grid-template-rows: .5fr auto 3fr;
    padding: 3rem;
    height: 100%;
}

.hero-text  {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2; 
    grid-row-end: span 1;
    background: lightgray;
}

.hero-image {
    grid-column-start: 4; 
    grid-column-end: span 2;
    grid-row-start: 2; 
    grid-row-end: span 1;
    background: lightgray;
}

.container-grid-complex {
    display: grid;
}

.main {
    overflow: auto;
    margin: 4rem 0;
}