
html, body {
    height: 100vh;
}

.inner {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 100px;
}

.app-header {
    cursor: pointer;
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-evenly;
    z-index: 1;
}

.app-header h1 {
    line-height: 2rem;
    margin: 1rem;
}

.main {
    padding: 12rem 0 7rem;
    height: calc(100vh - 17rem);
    overflow: auto;
    position: relative;
    z-index: 0;
}

.content {
    height: calc(100vh - 10rem);
    display: grid; 
}

.page-footer {
    padding-top: 1rem;
    height: 8rem;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.container-grid-simple {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-auto-rows: auto;
    padding: 0 3rem;
}

.container-grid-hero {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr 2fr 3fr 3fr 1fr; 
    grid-template-rows: .5fr auto 3fr;
    padding: 0 3rem;
    height: 100%;
}

.hero-text  {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2; 
    grid-row-end: span 1;
    background: lightgray;
}

.hero-image {
    grid-column-start: 4; 
    grid-column-end: span 2;
    grid-row-start: 2; 
    grid-row-end: span 1;
    background: lightgray;
}

.container-grid-complex {
    display: grid;
}

/* Meditations Grid */ 
/* .xz-grid .rows {
    padding-top: 50px;
}

.xz-grid .row {
    overflow: hidden;
    position: relative;
}

.row-left-arrow, 
.row-right-arrow,
.row-up-arrow,
.row-down-arrow {
    position: absolute;
    border-radius: 2px; 
    opacity: 0;
    transition: opacity .4s, transform .2s ease-out;
    border-radius: 4px;
}

.row-left-arrow:hover, 
.row-right-arrow:hover,
.row-up-arrow:hover, 
.row-down-arrow:hover  {
    opacity: .25;
}

.row-left-arrow, .row-right-arrow {
    height: calc(4rem + 575px);
    width: 125px;
    z-index: 2;
    top: 0;
}

.row-up-arrow, .row-down-arrow {
    width: 80vw;
    height: 125px;
    z-index: 2;
}

.row-left-arrow {
    left: 0;
    border-left: none;
}

.row-right-arrow {
    right: 0;
    border-right: none;
}

.row-up-arrow {
    top: 0;
    left: 10vw;
}

.row-down-arrow {
    left: 10vw;
    margin-top: 25px;
}

.xz-grid .row .card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 25px;
    margin-bottom: 1rem;
    transition: transform .4s ease-in;
    margin-bottom: 1rem;
}

.xz-grid  .row .card {
    height: 575px;
    padding: 2rem;
    width: 250px;
    margin: 0 8px;
    overflow: hidden;
    transition: height .4s ease-in-out;
} */