
  html {
    font-size: 62.5%;
  }

   .u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6, h1, h2, h3, h4, h5, h6, button,
   p, a, .body1, .body2, .subtitle1, .subtitle2, button, .u-button,
   .overline, caption, .u-caption, small, .u-small {
    color: #ffffff;
    font-family: "Lato";
   }

   .u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6, h1, h2, h3, h4, h5, h6, button,
   p, a, .body1, .body2 {
    margin-block-start: .6875rem;
    margin-block-end: .6875rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
   }

   .subtitle1, .subtitle2, button, .u-button {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
   }

   h1 {
     font-size: 2.5rem;
     line-height: 5.5rem;
   }

   .u-h1 {
    font-size: 2.5rem!important;
    line-height: 5.5rem!important;
    font-weight: bold!important;
   }

   h2 {
    font-size: 2.3rem;
    font-weight: normal;
    line-height: 5.5rem;
    font-style: italic;
   }

   .u-h2 {
     font-size: 2.3rem!important;
     font-weight: normal!important;
     line-height: 5.5rem!important;
   }

   h3 {
    font-size: 1.7rem;
    line-height: 5.5rem;
   }

   .u-h3 {
     font-size: 1.7rem!important;
     font-weight: bold!important;
     line-height: 5.5rem!important;
   }

   h4 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 5.5rem;
   }

   .u-h4 {
     font-size: 1.5rem!important;
     font-weight: normal!important;
     line-height: 5.5rem!important;
   }


   p {
     font-size: 1.5rem;
     line-height: 2.75rem;
   }

   p.small {
     font-size: 1.3rem;
   }

  .subtitle-above {
    font-size: 13px;
    line-height: 1.375rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: -.6875rem;
    margin-top: 0;
  }
  .subtitle1 {
    font-size: 18px;
    line-height: 2.75rem;
    margin-top: -.6875rem;
  }
  .subtitle2 {
    font-size: 14px;
    line-height: 2.75rem;
    margin-top: -.6875rem;
    font-weight: bold;
  }