

body:hover .header a, body:focus .header a {
    opacity: .75;
}

body:hover .header a:hover, 
body:hover .header a:focus {
    opacity: 1;
}

.header a.selected {
    border-bottom-color: white;
}
