.gels {
    z-index: 0;
    position: relative;
}

.wrapper {
    padding: 2rem;
    height: 100%;
}

.wrapper h1, .attribution, .time {
    text-align: center;
}

.meditate {
    position: absolute;
    display: block;
}

.icon {
    left: calc(50vw - 50px);
    top: calc(50vh - 50px);
}

.play_btn {
    left: calc(50vw - 4rem);
    top: calc(50vh - 4rem);
    height: 8rem; 
    width: 8rem;
    border: none;
    background: transparent;
}

.play_btn:active, 
.back_btn:active {
    outline: 0px;
    border: none;
}

.back_btn {
    background: transparent;
    border: none;
}