
.gels {
    z-index: 0;
    position: relative;
}

.wrapper {
    padding: 2rem;
    height: 100%;
}

.wrapper h1 {
    text-align: center;
}

.play_btn {
    position: absolute;
    display: block;
    left: calc(50vw - 2rem);
    top: calc(50vh - 2rem);
    height: 4rem; 
    width: 4rem;
    border-radius: 2rem;

}