.header {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5rem;
}

.header h1 {
    text-align: center;
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .75rem;
    font-weight: 100;
}

.navlist {
    display: flex;
    justify-content: center;
}

.navlist ul {
    display: flex;
    justify-content: center;
}

.navlist li {
    list-style: none;
    padding: 1rem;
}

.navlist li a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: white;
    opacity: .75;
    font-weight: 100;
    transition: opacity .4s; 
}

.navlist li a:hover, 
.navlist li a:focus {
    opacity: 1;
}

.navlist li a.selected {
    border-bottom-color: white;
}

.footer small {
    display: block;
    text-align: center;
}