
.card {
    opacity: .5;
    border: 2px solid rgba(255, 255, 255, .2);
    transition: opacity .2s;
    padding: 2rem;
    overflow-y: auto;
    border-radius: 2px;
    transition: opacity .2s ease-in, border-color .2s ease-in;
}

.card:hover, .card:focus {
    opacity: 1;
    border-color: white;
}